#about:target .about,
#resume:target .resume,
#portfolio:target .portfolio,
#blog:target .blog,
#contact:target .contact {
  transition-delay: 0.3s;
}

/* ---------------------------------
		7. Name Header
--------------------------------- */

.word {
  font-family: Consolas, monaco, monospace;
  perspective: 1000px;
  perspective-origin: 200px 40px;
}

.word span {
  cursor: pointer;
  display: inline-block;
  font-size: 84px;
  font-stretch: semi-expanded;
  letter-spacing: 1px;
  user-select: none;
  line-height: 0.8;
}

.word span:nth-child(1).active {
  animation: balance 1.5s ease-out;
  transform-origin: 0% 100% 0px;
}

@keyframes balance {
  0%,
  100% {
    transform: rotate(0deg);
  }

  30%,
  60% {
    transform: rotate(-45deg);
  }
}

.word span:nth-child(2).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes shrinkjump {
  10%,
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }

  45%,
  50% {
    transform: scale(1) translate(0, -150px);
  }

  80% {
    transform: scale(1) translate(0, 0);
  }
}

.word span:nth-child(3).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}

@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }

  24% {
    transform: rotateX(150deg);
  }

  36% {
    transform: rotateX(200deg);
  }

  48% {
    transform: rotateX(175deg);
  }

  60%,
  85% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.word span:nth-child(4).active {
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  20%,
  80% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.word span:nth-child(5).active {
  animation: toplong 1.5s linear;
}

@keyframes toplong {
  10%,
  40% {
    transform: translateY(-48vh) scaleY(1);
  }

  90% {
    transform: translateY(-48vh) scaleY(4);
  }
}

.word span:nth-child(6).active {
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  20%,
  80% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.word span:nth-child(7).active {
  animation: example 1.5s linear;
}

@keyframes example {
  from {
    background-color: white;
  }
  to {
    background-color: palegreen;
  }
}

/* ---------------------------------
		2. Miscellenious  tweaks
--------------------------------- */
.fixed {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.img {
  opacity: 0.6;
}

/* ------------------------------
		4. Home Section
------------------------------ */

.home {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
}

.home:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: #12171b;
}

.home .banner {
  position: absolute;
  width: 100%;
  top: 50%;
  color: #a8b2d1;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home .banner h1 {
  color: #fff;
  margin-bottom: 15px;
}

.home .banner p {
  color: #fff;
  font-size: 30px;
}

/* Social */
.home .social {
  position: absolute;
  width: 40px;
  height: 120px;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.home .social ul li {
  display: inline-block;
}

.home .social ul li i {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home .social ul li i:hover {
  color: #fff;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/* Cookie banner  */
.home .cookie-banner {
  position: absolute;

  padding-left: 11%;
}
.home .cookie-banner .text p {
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  line-height: 35px;
}
/* Language */
.home .lang {
  position: absolute;
  bottom: 30px;
  z-index: 1;
}

.home .lang ul {
  margin: 0;
}

.home .lang ul li {
  display: inline-block;
  margin: 0 10px;
}

.home .lang ul li a {
  color: #a0a0a0;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home .lang ul li a:hover {
  color: #fff;
}

.home .lang ul li a.active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

/* ---------------------------------
		3. About Section
--------------------------------- */
.page .about p {
  font-size: 14px;
  line-height: 24px;
}
.about .info .photo img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.about .info .loc {
  font-size: 12px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about .info p {
  font-size: 14px;
  line-height: 24px;
}

.about .info-icon {
  padding-top: 45px;
}

.about .info-icon i {
  display: flex;
  float: left;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #0e0f10;
  font-size: 20px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #fff;
  margin-right: 15px;
}

.about .desc-icon h6 {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.about .desc-icon p {
  color: #fff;
  font-size: 12px;
  line-height: 21px;
}

.about .desc-icon {
  padding-left: 15px;
  padding-top: 5px;
}

/* My Interests */
.about .inter-icon {
  position: relative;
  background: #0e0f10;
  margin: 20px 0;
  padding: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about .inter-icon:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 55px;
  background: #070708;
}

.about .inter-icon:hover {
  background: #070708;
}

.about .inter-icon i {
  position: relative;
  width: 30px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  margin-right: 30px;
}

.about .desc-inter h6 {
  font-size: 15px;
  font-weight: 100;
  line-height: 15px;
}

.about .desc-inter {
  padding-top: 3px;
}

/* Service Block */
.about .service {
  text-align: center;
}

.about .service i {
  position: relative;
  width: 70px;
  height: 70px;
  font-size: 25px;
  line-height: 70px;
  color: #fff;
  background-color: #0e0f10;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.about .service:hover i:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 5px;
  left: calc(50% - 30px);
  border-radius: 100%;
  border: 1px solid #fff;
  -webkit-animation: zoomIn 0.3s ease;
  animation: zoomIn 0.3s ease;
}

.about .service h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Testimonial Block*/
.about .testimonial-item {
  position: relative;
  padding: 30px;
  margin: 0 15px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.about .testimonial-item:before {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 25px;
  right: 35px;
  color: #bb68c8;
  font-size: 20px;
  font-weight: 900;
}

.about .testimonial-item img {
  width: 80px;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.about .testimonial-item .content {
  padding-top: 15px;
}

.about .testimonial-item .content p {
  color: #777;
  font-size: 13px;
  font-weight: 400;
  padding-top: 10px;
}

.about .testimonial-item .rating {
  position: absolute;
  top: 75px;
  right: 25px;
}

.about .testimonial-item .rating li {
  display: inline-block;
  color: #bb68c8;
}

/* Price */
.about .price {
  text-align: center;
  margin-bottom: 80px;
}

.about .price .head-price:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  background: #0e0f10;
}

.about .price .head-price i {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -40px;
  left: 50%;
  color: #fff;
  font-size: 32px;
  background-color: #0e0f10;
  line-height: 70px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.about .price:hover i:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 5px;
  left: calc(50% - 30px);
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #fff;
  -webkit-animation: zoomIn 0.3s ease;
  animation: zoomIn 0.3s ease;
}

.about .price .head-price h4 {
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.about .price .body-price .price-plan .number {
  font-size: 22px;
  font-weight: 500;
}

.about .price .body-price .price-plan {
  padding: 25px 0;
}

.about .price .body-price .price-plan .currency {
  position: relative;
  bottom: 10px;
  font-size: 15px;
}

.about .price .body-price .price-plan .period {
  position: relative;
  bottom: 0;
  font-size: 14px;
}

.about .price .list-price ul li {
  padding-bottom: 10px;
}

.about .price .list-price ul li.disable {
  color: #777;
  text-decoration: line-through !important;
}

.about .price .footer-price {
  padding-top: 15px;
}

/* ---------------------------------
		4. Portfolio Section
--------------------------------- */
/* Portfolio Filter */
.portfolio .portfolio-filter {
  text-align: center;
}

.portfolio .portfolio-filter ul {
  display: inline-block;
  margin: 0;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
}

.portfolio .portfolio-filter ul li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-filter ul li.active {
  color: #0e0f10;
  background-color: #fff;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* Portfolio Item */
.portfolio .portfolio-items .item figure {
  position: relative;
  cursor: pointer;
  background-color: #0e0f10;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.portfolio .portfolio-items .item figure img {
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-items .item figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: #fff;
}

.portfolio .portfolio-items .item figure figcaption a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.portfolio .portfolio-items .item figure figcaption h3 {
  opacity: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-items .item figure figcaption p {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px;
  font-size: 14px;
  padding-left: 15px;
  opacity: 0;
  -webkit-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-items .item figure figcaption p:before {
  content: "\f292";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: 900;
}

.portfolio .portfolio-items .item figure figcaption i {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  font-size: 24px;
  opacity: 0;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-items .item figure:hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio .portfolio-items .item figure:hover h3 {
  opacity: 1;
}

.portfolio .portfolio-items .item figure:hover p {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.portfolio .portfolio-items .item figure:hover i {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

/* ---------------------------------
		5. Resume Section
--------------------------------- */
/* Experience */
.resume .experience .item {
  position: relative;
  padding-top: 15px;
  padding-left: 40px;
  margin-bottom: 40px;
}

.resume .experience .item:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.resume .experience .item:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  top: 21px;
  left: 6px;
  background-color: #fff;
}

.resume .experience .main p {
  color: #fff;
  font-size: 12px;
}

.resume .experience .main p i {
  font-size: 13px;
  margin-right: 5px;
}

.resume .experience .main h4 {
  position: relative;
  line-height: 15px;
  margin-bottom: 15px;
}

.resume .experience .main h4:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: -46px;
  background-color: #0e0f10;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
}

.resume .experience .item:hover h4:before {
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* Skills Bar */
.resume .skill-item {
  padding: 0 20px;
}

.resume .skill-item .progress-title {
  font-size: 17px;
  margin-bottom: 10px;
}

.resume .skill-item .progress {
  height: 8px;
  background-color: #0e0f10;
  margin-bottom: 40px;
  overflow: visible;
}

.resume .skill-item .progress .progress-bar {
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.resume .skill-item .progress .progress-bar:after {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  right: 0px;
  padding: 6px;
  background-color: #0e0f10;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.resume .skill-item .progress .progress-value {
  position: absolute;
  top: -30px;
  right: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.resume .chart {
  width: 130px;
  height: 130px;
  margin: 0 auto 25px;
  text-align: center;
  font-size: 25px;
  line-height: 24px;
  padding: 40px 0 0;
  color: #eee;
  font-weight: 800;
}

.resume .chart p {
  font-size: 15px;
  margin-top: 10px;
}

.resume canvas {
  position: absolute;
  top: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Work Process */
.resume .work-process .ltr {
  text-align: right;
}

.resume .work-process .rtl {
  text-align: left;
}

.resume .work-process .wp-step {
  margin: 0;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
}

.resume .work-process h4 {
  font-weight: 700;
  margin-bottom: 15px;
}

.resume .work-process .single-wp + .single-wp {
  padding-top: 35px;
}

.resume .work-process .wp-circle {
  position: relative;
  width: 100%;
  padding: 80px 0;
  margin-top: 12px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
}

.resume .work-process .wp-circle:before {
  content: "";
  position: absolute;
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  top: -24px;
  left: -24px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.resume .work-process .wp-circle h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 62px;
  text-transform: uppercase;
}

.resume .work-process .dots {
  position: absolute;
  width: 12px;
  height: 12px;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}

.resume .work-process .dots.top-l,
.resume .work-process .dots.bottom-l {
  left: 0px;
}

.resume .work-process .dots.top-l,
.resume .work-process .dots.top-r {
  top: 50px;
}

.resume .work-process .dots.bottom-l,
.resume .work-process .dots.bottom-r {
  bottom: 50px;
}

.resume .work-process .dots.top-r,
.resume .work-process .dots.bottom-r {
  right: 0px;
}

/* resposive setup */

@media screen and (max-width: 991px) {
  .home .banner h1 {
    font-size: 60px;
  }
  .home .banner p {
    font-size: 25px;
  }
  .about .btn-st {
    margin: 0 0 20px 20px;
  }
  .single-wp {
    padding: 30px !important;
  }
  .single-wp:nth-child(2n) {
    text-align: left;
    padding-right: 0 !important;
  }
  .single-wp.process-1,
  .single-wp.process-3 {
    border-right: 1px solid #fff;
  }
  .single-wp.process-1,
  .single-wp.process-2 {
    border-bottom: 1px solid #fff;
  }
  .single-wp:nth-child(2n + 1) {
    text-align: right;
    padding-left: 0 !important;
  }
  .hidden-sm {
    display: none;
  }
  .width-sm {
    width: 50%;
    float: left;
  }
  .pt-contact .contact-info .info {
    margin-bottom: 40px;
  }
  .page .mob-box-mt {
    margin-top: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .page {
    width: 100%;
  }
  #about:target .pt-about,
  #resume:target .pt-resume,
  #portfolio:target .pt-portfolio,
  #blog:target .pt-blog,
  #contact:target .pt-contact {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .header-main {
    width: 90px;
    background-color: rgba(14, 15, 16, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header-mobile {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header-main ul li {
    font-size: 25px;
  }
  .header-main .logo,
  .music-bg {
    padding: 20px 0;
  }
  .page .mob-mt {
    margin-top: 120px !important;
  }
  .page .header-page h2 {
    font-size: 32px;
  }
  .home .banner h1 {
    font-size: 50px;
  }
  .home .banner p {
    font-size: 20px;
  }
  .page .box {
    padding: 20px;
  }
  .pt-about .testimonial-item {
    padding: 20px;
  }
  .blog-nav {
    display: none;
  }
  .blog-page .blog-container {
    position: relative;
  }
}

@media screen and (max-width: 575px) {
  .page .header-box h3 {
    font-size: 23px;
  }
  .home .banner {
    width: 100%;
  }
  .home .banner h1 {
    font-size: 40px;
  }
  .home .banner p {
    font-size: 17px;
  }
  .home .social {
    top: unset;
    bottom: 10px;
  }
  .home .lang {
    bottom: 20px;
  }
  .pt-about .info .photo img {
    display: block;
    width: 50%;
    margin: 0 auto 30px;
  }
  .pt-about .testimonial-item:before {
    top: 15px;
    right: 15px;
    font-size: 15px;
  }
  .pt-about .testimonial-item img {
    width: 70px;
  }
  .pt-about .testimonial-item .rating {
    top: 115px;
    left: 20px;
  }
  .pt-about .testimonial-item .media {
    margin-bottom: 30px;
  }
  .pt-about .testimonial-item .content {
    padding-top: 10px;
  }
  .pt-resume .chart {
    margin: 0 auto 40px;
  }
  .pt-portfolio .portfolio-filter ul {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .width-sm {
    width: 100%;
  }
  .single-wp.process-1,
  .single-wp.process-3 {
    border-bottom: none;
    border-right: 1px solid #fff;
  }
  .single-wp.process-2,
  .single-wp.process-4 {
    border-bottom: none;
    border-left: 1px solid #fff;
  }
  .blog-page .blog-heading h2 {
    font-size: 30px;
  }
  .blog-page .blog-heading span {
    font-size: 13px;
  }
  .blog-page .blog-comments,
  .blog-page .blog-comments ul li .comment-text a {
    margin: 0;
  }
  .blog-page .blog-comments ul li .comment-text p {
    font-size: 13px;
  }
  .blog-page .blog-comments ul li ul {
    margin-left: 30px;
  }
}

@media screen and (min-height: 710px) {
  .music-bg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

/* ---------------------------------
		15. Animation Css
--------------------------------- */
/* Animation zoomIn */
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

/* Animation rotating */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Animation Spinner */
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

/* Animation Music Line */
@-webkit-keyframes musicline {
  0% {
    height: 5px;
  }
  10% {
    height: 10px;
  }
  20% {
    height: 5px;
  }
  30% {
    height: 14px;
  }
  40% {
    height: 18px;
  }
  50% {
    height: 5px;
  }
  60% {
    height: 16px;
  }
  70% {
    height: 10px;
  }
  80% {
    height: 12px;
  }
  90% {
    height: 4px;
  }
  100% {
    height: 18px;
  }
}

@keyframes musicline {
  0% {
    height: 5px;
  }
  10% {
    height: 10px;
  }
  20% {
    height: 5px;
  }
  30% {
    height: 14px;
  }
  40% {
    height: 18px;
  }
  50% {
    height: 5px;
  }
  60% {
    height: 16px;
  }
  70% {
    height: 10px;
  }
  80% {
    height: 12px;
  }
  90% {
    height: 4px;
  }
  100% {
    height: 18px;
  }
}

/* Ken Burns Slide */
@-webkit-keyframes kenburnsSlide {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes kenburnsSlide {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
